
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Gravitas+One&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



body {
     font-family: "Advent Pro", sans-serif !important;
     background-image: url(../public/images/images.jpeg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
